/* Bootstrap overriding */

light_blue = #00b2e2
light_blue_shadow = #059dc1

deep_blue = #003a5c

deep_blue_s1 = #004b6d
deep_blue_s2 = #005c7e

palid_gray = #fbfbfb
gray = #f2f2f2
silver = #f7f7f7
bgc = #fbfbfb
shadow = #e2e2e2
standard-text-color = #3d3d3d
subtile-text-color = #7d7d7d

red_shadow = #c0392b
modalshadow = rgba(55,55,55,0.75)

modal_background = #6c6c6c

footer_height = 140px

nav-height = 80px
nav-height-padding = 90px
nav-height_2 = 50px

red = #f6aa3e
green = #0ec494

standard-background()
	background-size contain
	background-position center center
	background-repeat no-repeat

panel-shadow()
	box-shadow 4px 4px 0px shadow

html,body
	height 100%
	max-height 100%
body
	overflow-x hidden

body.noscroll
	overflow hidden

section
	margin 50px auto

.ar-row
	overflow auto

.ar-above
	min-height 100%	
	overflow auto
	// padding-bottom footer_height
	padding-bottom 170px

a, .a
	color light_blue
	cursor pointer

ul
	list-style none
	padding 0px
	overflow auto
ul.nav.navbar-nav
	overflow visible
ul.inline li
	display inline-block
	margin-right 5px
ul.inline li:last-child
	margin-right 0px
	

input[type="date"]:before
	content: attr(placeholder);
	color: #aaa;

input[type="date"]:focus:before, input[type="date"]:valid:before
	content: "";

.ar-autoscroll
	overflow auto
	max-height 100%

.ar-spacer
	margin-bottom 50px
	width 100%

.strong
	font-weight bold

.it
	font-style italic 

.ellipsis
	white-space nowrap
	text-overflow ellipsis
	overflow hidden	

.static
	position static

footer
	margin-top -140px
	min-height footer_height
	padding-top 20px
	padding-bottom 20px
	background-color deep_blue
	*
		color light_blue
	p	
		padding-top 25px
		a
			display block
a.ar-footer-logo
	display block
	standard-background()
	background-image url(../img/logo-buap.svg)
	height 100px
*
	color standard-text-color
	font-family 'Source Sans Pro', sans-serif
	outline-color: #EB645E;

*::-webkit-scrollbar
	width 0px
	height 10px
	background-color white
*::-webkit-scrollbar-track-piecek
	background-color #ededed
	border 0px
*::-webkit-scrollbar-thumb 
	background-color #999

*::-moz-scrollbar
	width 0px
	height 10px
	background-color white
*::-moz-scrollbar-track-piecek
	background-color #ededed
	border 0px
*::-moz-scrollbar-thumb 
	background-color #999

*::-webkit-input-placeholder
	font-weight 300
*:-moz-placeholder
	font-weight 300
*::-moz-placeholder
	font-weight 300
*:-ms-input-placeholder
	font-weight 300

input 
	border 0px

.ar-nopad
	padding 0px

.btn
	border-radius 0px
	background-color #DDD

.mbtn
	border 1px solid shadow
	border-radius 3px
	cursor pointer
	-webkit-transition all .15s ease
	-moz-transition all .15s ease
	-ms-transition all .15s ease
	-o-transition all .15s ease
	transition all .15s ease
.mbtn:hover
	color #fff
	background-color standard-text-color 


.btn-primary
	background-color light_blue
.btn-primary,
input[type="submit"]
	position relative
	border-radius 0px
	border 0px
	box-shadow 0 6px light_blue_shadow
	-webkit-transition none
	-moz-transition none
	-ms-transition none
	-o-transition none
	transition none

.btn-primary:hover,
input[type="submit"]:hover
	background-color light_blue
	box-shadow 0 4px light_blue_shadow
	top 2px

.btn-primary:active,
input[type="submit"]:active
	box-shadow: 0 0 #ab3c3c;
	top: 6px;

button.ar-cancelbtn:active,
input[type="button"].ar-cancelbtn:active,
input[type="submit"].ar-cancelbtn:active
	box-shadow 0 0 red_shadow
	top 6px

button.ar-cancelbtn:hover,
input[type="button"].ar-cancelbtn:hover,
input[type="submit"].ar-cancelbtn:hover
	box-shadow 0 4px red_shadow
	background-color #e74c3c
	top 2px	

button.ar-cancelbtn,
input[type="button"].ar-cancelbtn,
input[type="submit"].ar-cancelbtn
	background-color #e74c3c
	color #fff
	position relative
	border-radius 0px
	border 0px
	padding 6px 12px
	box-shadow 0 6px red_shadow
	-webkit-transition none
	-moz-transition none
	-ms-transition none
	-o-transition none
	transition none

.well
	border-radius 0px
	box-shadow none
	background-color bgc
	border 0px
	panel-shadow()

.ar-wrapper
	width 90%
	max-width 1400px
	margin 0 auto

.ar-vwrap
	overflow auto

.ar-navfl
	border-bottom 1px solid #ddd
.nav.navbar
	z-index 3
	.navbar-header,
	.collapse.navbar-collapse
		max-width 100%
		margin-right 0px
		margin-left 0px		

.nav
.navbar
.navbar-default
	background-color #fff
	border-radius 0px
	border-top 0px
	border-bottom 0px
	.container-fliud
		height nav-height		
	ul li
		height 100%
		a
			height 100%
			line-height nav-height
			padding-top 0px
			padding-bottom 0px
.navbar-default .navbar-brand
	height 100%
	padding-top 0px
	padding-bottom 0px
	div
		display inline-block
		height 100%
		line-height nav-height
		color #fff
		span
			color #fff
	.ar-buap-logo
		standard-background()
		width 200px
		background-color deep_blue
		background-image url(../img/logo-buap.svg)
		color transparent
		float left
	.ar-dep
		background-color light_blue
		padding-right 25px
		padding-left 25px
.ar-navfl
	padding 0px

ul.nav.navbar-nav
	max-width 100%
ul.nav.navbar-nav li a
	font-size 1.2em
	text-transform uppercase
	color deep_blue

.ar-hidden
	display none

.navbar-form
	margin-top 23px
	padding 0px
.form-control
	border-radius 0px

/****************************	MODAL   ****************************/

.ar-modal-background
	position fixed
	top 0px
	left 0px
	width 100%
	height 100%
	background-color modal_background
	opacity 0.9
	z-index 10
.ar-modal-wrapper
	overflow auto
	position fixed
	top 0px
	left 0px
	width 100%
	height 100%
	z-index 11

.ar-modal-container
	background-color bgc
	max-width 900px
	position relative

.ar-modal-closebtn
	position absolute
	top 0px
	right 0px
	z-index 1
	cursor pointer
	standard-background()
	background-image url(../img/arrows_remove.svg)

.ar-modal-title
	z-index 1
	position absolute
	width 100%
	line-height 50px
	top 0px
	left 0px
	background-color #00b2e2
	color #fff
	text-indent 15px
	font-size 1.2em
	
.ar-modal-title,
.ar-modal-closebtn
	height 50px

.ar-modal-title
	background-color light_blue
.ar-modal-closebtn
	width 50px
	background-color deep_blue

.ar-modal-content
	padding 15px
	padding-top 55px
	max-height 100%
	height 100%
	overflow auto
	.ar-form-container
		max-width 100%

.ar-fullscreen-panel .ar-modal-content
	height 100%

/****************************	ALERT   ****************************/
.ar-alert.in
	top 0px
	
.ar-alert,
.ar-alert.out
	font-size 1.8em
	font-weight 300
	text-align center;
	background-color #fd7a0b
	color #fff
	width 600px
	margin 0 auto
	padding 15px
	top -500px
	z-index 20
	position absolute
	left 50%
	margin-left -300px
	-webkit-transition top .7s ease-out
	-moz-transition top .7s ease-out
	-ms-transition top .7s ease-out
	-o-transition top .7s ease-out
	transition top .7s ease-out

/****************************	USER DASHBOARD   ****************************/

.ar-dashboard-wrapper
	// max-width 1000px
	background-color palid_gray
	panel-shadow()
	margin 0 auto
	.ar-eventlist
		padding 15px
	.ar-lnhh
		line-height 60px
	.ar-row.ar-services .ar-row
		line-height normal
		margin-bottom 10px
	.ar-down
		standard-background()
		background-image url(../img/arrows_down.svg)
		background-color light_blue
		height 60px
		cursor pointer
	.ar-down.up
		background-image url(../img/arrows_up.svg)

.ar-desc
	max-height 115px
	overflow hidden
	border-top 1px solid shadow
	p
		color subtile-text-color
		margin 7px
.ar-desc.expanded
	max-height 900px

.ar-colgroup
	border-left 1px solid shadow
	text-align center
.ar-colgroup:first-child
	border-left 0px

.ar-field.ar-datie
	font-size 1em
	span
		font-weight bold
		color deep_blue

.ar-flatbtn
	padding 10px
	background-color shadow
	margin 5px
	cursor pointer

.ar-flatbtn:hover
	color #fff
	background-color light_blue

.ar-ellipsable
	white-space nowrap
	text-overflow ellipsis
	overflow hidden


.dropdown-toggle 
	standard-background()
	width 50px
	background-size 60%
	opacity 0.5
	background-image url(../img/gear.png)
	background-image url(../img/gear.svg)
	cursor pointer
	span 
		color transparent


p.ar-ptitle
	margin-bottom 0px
	margin-top 15px

.ar-place
	background-image url(../img/map.png)
	background-size cover
	text-indent 10px
	font-size 1.2em
	color deep_blue
.ar-place,.ar-date	
	padding 15px 0

.ar-eid
	background-color deep_blue
	color light_blue
.ar-field
	background-color gray

.ar-row.expanded
	.ar-expanded-wea
		max-height 2900px
	.ar-down
		background-image url(../img/arrows_up.svg)
.ar-expanded-wea
	background-color gray
	border-top 1px solid shadow
	max-height 0
	overflow hidden
	-webkit-transition max-height .5s ease
	-moz-transition max-height .5s ease
	-ms-transition max-height .5s ease
	-o-transition max-height .5s ease
	transition max-height .5s ease
	.ar-expanded-wea-container 
		line-height normal
	.ar-colgroup
		font-size 1.2em
.ar-title-row div
	color deep_blue
	font-weight 600

.ar-lnnormalst
	line-height normal

.ar-divider
	height 1px
	background-color shadow
	width 100%

.ar-services
	padding-top 20px

.ar-media-list .checkbox
	margin-top 10px
	margin-bottom 10px

.ar-plist
	padding-left 5px	

.ar-eventlist .ar-event
	margin-bottom 25px

.btn.btn-sourcefiles.loaded
	background-color silver
	font-weight bold
.btn.btn-sourcefiles:hover
	border 1px dashed light_blue
	
.btn.btn-sourcefiles
	border 1px dashed subtile-text-color
	background-color transparent
	color standard-text-color
	width 100%
	padding-top 15px
	padding-bottom 15px


@media (max-width:767px)
	.ar-modal-wrapper
		position fixed
	.ar-modal-content
		padding-left 0px
		padding-right 0px
	.ar-modal-wrapper .ar-modal-content .ar-form-container
		padding 0px
	.ar-expanded-wea
		max-height 1900px
	.ar-eventname.ar-ellipsable
		white-space normal
	.ar-service-status
		text-align right
	.ar-service div:first-child
		padding-bottom 0px
	.ar-service div:last-child
		padding-top 0px
	.ar-lnnormal
		line-height normal
		padding-top 5px
		padding-bottom 5px
	.ar-modal-title
		position absolute
		z-index 3
	.ar-modal-container
		height 100%
	.ar-hideon768
		display none
	.ar-modal-closebtn
		z-index 4
	.ar-eventlist .ar-event
		margin-bottom 25px
		panel-shadow()

@media (min-width:768px)
	.ar-modal-container
		margin 50px auto
	.ar-services
		margin-left 0px
		padding-left 40px
		border-left 1px solid shadow
	.ar-field
		font-size 1.3em
	.ar-tfield
		font-size 1.25em
	.ar-dashboard-wrapper
		h4
			padding 15px
	

/****************************	LOGIN   ****************************/

.ar-form-wrapper
	max-width 500px
	background-color palid_gray
	margin 0 auto
	panel-shadow()

section.ar-reg-msg
	padding 15px
	max-width 500px
	margin 0 auto
	text-align justify
	overflow auto
	button
		float right
.ar-form-container
	max-width 300px
	min-height 300px
	padding 15px
	padding-bottom 30px
	margin-bottom 30px
	margin 0 auto
	h1
		text-transform uppercase
		color light_blue
		font-weight 300
		font-size 2em
	input
		font-size 1.5em
	input[type="submit"],button
		background-color light_blue
		color #fff
		height 50px
		width 100%
		margin-left 0px
		margin-right 0px

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="date"],
	input[type="url"],
	input[type="time"],
	textarea,
	select
		margin-top 10px
		margin-bottom 10px
		border 0px
		background-color gray
		box-shadow none
		color #777
		width 100%
		padding 10px
		height auto
		outline none
	select
		min-height 50px
		margin-right 0px
		margin-left 0px
	input:focus
		box-shadow 3px 3px 0px shadow
	



/****************************	BANNER   ****************************/
.ar-slider-banner{
	height 300px
	width 100%
	background-color light_blue
}

/****************************	CALENDAR   ****************************/
.ar-calendar
	position relative
	margin 0 auto
.ar-inforow
	padding-top 10px
	padding-bottom 10px
	div
		color #f2f2f2

.ar-tagtitle
	padding 10px
	position absolute
	background-color #ccc
	top -4px
	margin 0px
	left 2px
	color #fff

.ar-arrows
	div
		standard-background()
		height 25px
		background-position-y -1px
	div:first-child
		background-image url(../img/arrows_left.svg)
	div:last-child
		background-image url(../img/arrows_right.svg)

a.ar-moreinfo
	width 100%
	float right
	color gray
	text-align right

.ar-eventempty
	width 100%
	height 200px
	background-color gray
	text-align center
	font-size 1.1em
	padding-top 50px

.ar-day-month:hover,
.ar-day-month.selected
	
	background-color gray
	border-bottom 10px solid light_blue

.ar-day-month.ar-disabled-day:hover,
.ar-day-month.ar-disabled-day.selected:hover
	background-color silver
	border-bottom 0px

.ar-morelink
	color gray
	margin-left 5px
.ar-morelink:before
	content '['
.ar-morelink:after
	content ']'
	
.ar-fitpanel,
.ar-fullscreen-panel.ar-fitpanel
	width auto !important
	height auto !important
	margin 0 auto !important
.ar-fitpanel.ar500
	max-width 500px

.ar-day-month
	float left
	background-color silver
	margin 1px
	width 14%
	height 100px
	height 8.5vw
	overflow auto
	cursor pointer
	position relative
	.ar-daymonth-container
		padding 10px
		padding-top 0px
		padding-bottom 0px
	.ar-daytag
		font-size 1.05
		padding 5px
		background-color gray
.ar-day-month.ar-disabled-day .ar-daytag
	display none
.ar-moarrr
	max-width 200px
	position absolute 
	bottom 10px
	right 5px
	text-align right
	span
		border-radius 50%
		display inline-block
		width 4px
		height 4px
		background-color #bbb

.ar-daytag span
	color light_blue
h4.sm
	font-size 15px

.ar-right
	text-align right
.ar-center
	text-align center
.ar-ri
	display inline-block
	font-size 1.5em
.ar-event
	overflow auto
	margin-top 10px
	margin-bottom 10px
.ar-uptitle
	text-transform uppercase
	font-size 1.5em
.ar-eventtitle
	font-weight 600
	color deep_blue_s2
	width 100%
	float none
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	
.strong .ar-eventtitle
	font-weight bold
	color deep_blue
.ar-usubtile .ar-eventtime
	display none
.ar-usubtile .ar-eventtitle
	color subtile-text-color
	font-weight 500
	font-size 0.97em

.ar-list
	overflow auto
.ar-maxcent
	max-width 600px
	margin 0 auto		

.ar-eventtime
	font-size 0.85em
	color subtile-text-color
.ar-disabled-day
	background-color palid_gray

.ar-month
	width 100%
	margin 0 auto
	overflow auto 
	z-index 1
	margin-left 1px
	-webkit-transition margin 0.25s ease
	-moz-transition margin 0.25s ease
	-ms-transition margin 0.25s ease
	-o-transition margin 0.25s ease
	transition margin 0.25s ease

//Fancy day
.ar-closebtn
	width 60px
	height 60px
	right -60px
	top nav-height-padding
	background-color deep_blue
	position absolute
	cursor pointer
	standard-background()
	background-image url(../img/arrows_remove.svg)


.scrollable
	overflow-y auto

.ar-day
	display block
	position fixed
	top 0px
	padding-top nav-height-padding
	width 555px	
	height 100%
	z-index -1
	opacity 0
	-webkit-transition: opacity .25s ease-out;
	-moz-transition: opacity .25s ease-out;
	-ms-transition: opacity .25s ease-out;
	-o-transition: opacity .25s ease-out;
	transition: opacity .25s ease-out;
	h4
		text-indent 10px
		position absolute
		padding-top 5px
		padding-bottom 6px
		top nav-height-padding
		margin 0px
		z-index 1
		background-color light_blue
		color #fff
		width 100%
	.ar-container::-webkit-scrollbar
		width 5px
	.ar-container::-moz-scrollbar
		width 5px
	.ar-container
		position relative
		max-height 100%
		background-color light_blue
		color #fff
		padding-bottom 10px
		padding-top 30px
	.ar-event:nth-child(even)
		background-color deep_blue_s1
	.ar-event:nth-child(odd)
		background-color deep_blue_s2
	.ar-event
		width 100%
		padding-left 20px
		padding-right 20px
		background-color deep_blue
		margin 0 auto
		p
			max-width 450px
			float right
			color light_blue
	.ar-eventtitle
		padding-left 10px
		padding-right 10px
		font-size 1.6em
		font-weight 200
		color #fff		
	.ar-eventtime
		font-size 1em
		color #fff

.ar-dayview .ar-day
	z-index 1
	opacity 1

.ar-dayview .ar-month
	margin-left 565px

.ar-padder
	padding 5px

.file-icon
	height 38px
	background-image url(../img/files/unknown.svg)
	display block
	background-size contain
	background-repeat no-repeat
	opacity 0.7
.file-icon.doc
	background-image url(../img/files/doc.svg)
.file-icon.docx
	background-image url(../img/files/docx.svg)
.file-icon.pdf
	background-image url(../img/files/pdf.svg)
.file-icon.ppt
	background-image url(../img/files/ppt.svg)
.file-icon.rar
	background-image url(../img/files/rar.svg)
.file-icon.xls
	background-image url(../img/files/xls.svg)
.file-icon.zip
	background-image url(../img/files/zip.svg)
.file-icon.jpg
	background-image url(../img/files/jpg.svg)


.remove
	height 38px
	cursor pointer
	background-color #ddd
	standard-background()
	background-image url(../img/arrows_remove.svg)
.remove:hover
	background-color #aaa

.file-row
	margin 5px auto 
	background-color gray

.filename
	margin-top 10px
	overflow hidden

.ar-fullscreen-panel-container.active
	opacity 1
	z-index 10

.ar-fullscreen-panel-container
	background-color modalshadow
	width 100%
	height 100%
	position fixed
	overflow auto
	top 0px
	left 0px
	z-index -1
	opacity 0	
	-webkit-transition opacity .15s ease
	-moz-transition opacity .15s ease
	-ms-transition opacity .15s ease
	-o-transition opacity .15s ease
	transition opacity .15s ease
	.ar-fullscreen-panel
		position relative
		width 100%
		height 100%
		background-color #fff

.max1000
	max-width 1000px
	margin 0 auto

.ar-btn-group button,
.ar-btn-group input[type="submit"],
.ar-btn-group input[type="button"],
form
	display inline-block

/**----------- BOSS PANEL -----------**/

.ar-element-buttons
	text-align right
	button.btn,
	.ar-button-info	
		display inline-block
	button.btn:hover
		background-color light_blue
		color white
	.ar-button-info
		margin-right 15px
	.ar-button-info:last-child
		margin-right 0px
		
.ar-thick
	padding-top 15px
	padding-bottom 10px
.ar-element
	border-top 1px solid gray
	overflow auto
.ar-element:last-child
	border-bottom 1px solid gray
	

.ar-switcher
	margin 5px 2px
	background-color gray
	input
		display none
	.icon
		cursor pointer
		width 25px
		height 25px
		background-color shadow
	.icon.active
		background-color light_blue
		standard-background()		
		background-image url(../img/check.svg)
		background-size 65%
	label
		display block
		min-height 25px
		margin-left 50px
		margin-top -25px
		padding 2px
		cursor pointer
span.dci_status
	font-weight bold
span.dci_status.pen
	color red
span.dci_status.pro
	color orange
span.dci_status.ate
	color green
span.dci_status.apr
	color cyan

.ar-modal-loader
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	background-color modalshadow
	z-index -1
	opacity 0.0
	-webkit-transition opacity .25s ease
	-moz-transition opacity .25s ease
	-ms-transition opacity .25s ease
	-o-transition opacity .25s ease
	transition opacity .25s ease

.ar-modal-loader.active
	z-index 15
	opacity 1
	

.ar-over-title
	color subtile-text-color
	margin-bottom 0px

.ar-contright>div
	float right
	
.strong span.pending
	color red

.ar-empty-message
	padding 50px 5%
	font-size 1.5em
	color subtile-text-color
	text-align center
	
.task-status
	color white
	position absolute
	top 0px
	left 0px
	padding 5px 0px
	width 100%
	text-indent 20px
.task-status.pending
	background-color red
.task-status.complete
	background-color green

.breadcrumb.task
	position relative
	overflow hidden
	padding-top 30px

.edit-btn:hover
	background-color subtile-text-color
.edit-btn
	width 50px
	height 50px
	background-color shadow
	background-image url(../img/edit.svg)
	background-size 70%
	background-repeat no-repeat
	background-position center center
	position absolute
	right 0px
	top 30px
	cursor pointer

.padr
	padding-right 50px

.ellipsis.unellipsable
	cursor pointer

.task-list
	max-width 900px 
	margin 0 auto

.event-list
	margin-bottom 50px
	.ar-element
		margin-top 20px



.ar-section-title
	padding 15px 15px 10px 5px
	margin-bottom 10px
	border-bottom 1px solid shadow
	font-size 1.4em
	.btn
		float right
		border 1px solid shadow
		padding 3px 5px

.ar-section-subtitle
	font-size 1.15em
	margin-bottom 10px
	text-indent 10px
.ar-section-bottombtns
	overflow auto
	margin-top 20px
	.mbtn,
	button 
		display inline-block
		padding 1px 5px
		border 1px solid shadow
		border-radius 3px
		font-size 0.95em
		cursor pointer
		-webkit-transition all .15s ease
		-moz-transition all .15s ease
		-ms-transition all .15s ease
		-o-transition all .15s ease
		transition all .15s ease
	.mbtn:hover,
	button:hover
		color #fff
		background-color standard-text-color 
	ul li
		margin-bottom 10px

.ar-emptylist
	padding 40px 20px
	text-align center
	color shadow

.ar-boldrow
	background-color #f7f7f7
	padding 10px 0
	border-top 1px solid shadow
.ar-boldrow:last-child
	border-bottom 1px solid shadow
.ar-element
	position relative
.status-tag
	width 5px
	position absolute
	left 0px
	height 100%
	background-color red

@media (min-width:768px) and (min-height:600px)
	.ar-login-form.ar-form-wrapper
		padding-top 1px
		margin 50px auto 30px auto
	.ar-login-form .ar-form-container
		margin 30px auto 30px auto
@media (min-width:768px)
	.ar-form-wrapper
		min-height 400px
	.nav.navbar
		position fixed
		width 100%
	.ar-wrapper.ar-thecontent
		padding-top nav-height-padding
	.collapse.navbar-collapse.navbar-right
		padding-right 0px 
	.navbar-brand .ar-long
		display block
	.navbar-brand .ar-short
		display none
	.ar-day .ar-event
		padding-top 25px
		padding-bottom 25px
	.ar-fullscreen-panel-container
		padding 20px
		.ar-fullscreen-panel
			box-shadow 0px 0px 25px #333
			height 95%
			margin 0 auto

@media (min-width:1000px)
	.ar-fullscreen-panel-container
		.ar-fullscreen-panel
			margin 0px

@media (max-width:1200px)
	.ar-wrapper
		width 95%
	.ar-day-month
		padding 5px
	.ar-event
		margin 0px
	.navbar-default .navbar-brand .ar-buap-logo
		background-image url(../img/logo-buap-short.svg)
		width 50px
	//Calendar
	.ar-eventtitle
		float none
		white-space nowrap
		text-overflow ellipsis
		overflow hidden
	.ar-eventtime
		float none

@media (max-width:767px)
	h1,.ar-form-container h1
		font-size 1.6em
	h3, .h3
		font-size 18px
		font-weight 600
	.ar-form-container
		padding 0px
		padding-right 10px
		padding-left 10px
		margin 0px
		min-height 0px
	.ar-moarrr
		display none	
	/*Login*/
	.ar-form-wrapper
		padding-top 1px
		padding-bottom 1px
		margin 0px auto
		box-shadow none
	/*Calendar*/
	.ar-day
		width 100%
		padding-top 50px
		h4
			top 50px
			height 50px
		.ar-container
			padding-top 50px
		.ar-closebtn
			width 50px
			height 50px
			top 50px
			right 0px
			z-index 3
	.navbar-header
		background-color light_blue
	.ar-day-month
		margin-right 0px
		margin-bottom 0px
		.ar-event,
		.ar-text-tag
			display none
	.ar-wrapper
		width 100%
	.navbar-default
		.navbar-toggle
			width 50px
			height 50px
			border-radius 0px
			margin 0px
			padding-left 13px
			border-bottom 0px
			border-right 0px
			background-color #fff
		.container-fliud
			height nav-height_2
	.navbar-default .navbar-brand
		padding 0px
		.ar-buap-logo
			background-image url(../img/logo-buap-short.svg)
			width 50px
	.navbar-default .navbar-brand div,
	.navbar-default .container-fliud ul li a 
			line-height nav-height_2
	.navbar-brand .ar-long
		display none
	.navbar-brand .ar-short
		display block

@media (max-width:450px)
	.ar-day-month
		padding 1px
		width 13.8% 